<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker | Coding Blocks</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap/dist/css/bootstrap.min.css">

    {% block head %} {% endblock %}
  </head>
  <body>

    {% block content %} {% endblock %}

    {% block footer %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap/dist/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>