{% extends 'base.html' %}

{% block content %}
    {% include 'cron/partials/navbar.html' %}
    <div class="container pt-3">
        <h1>Applications</h1>
        {% include 'cron/partials/pagination.html' %}

        <table class="table table-striped">
            <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of Jobs</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for application in application_list %}
                <tr>
                    <th scope="row">{{ application.id }}</th>
                    <td>{{ application.name }}</td>
                    <td>{{ application.job_set.count }}</td>
                    <td>
                        <a role="button" class="btn btn-success active"
                           href="/application/{{ application.id }}/">View</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}