{% extends 'base.html' %}

{% block content %}
    {% include 'cron/partials/navbar.html' %}
    <h1>Applications</h1>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Jobs</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for application in application_list %}
            <tr>
                <th scope="row">{{ application.id }}</th>
                <td>{{ application.name }}</td>
                <td>{{ application.job_set.count }}</td>
                <td>
                    <button type="button" class="btn btn-success">View</button>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}